/* Global */
body{
    font-family: Verdana, serif;
    background-color: #EEEEEE;
}

/* Global For Mobile */
@media (min-width: 768px){
    body{

    }
}

/* Colours */
.navy{
    background-color: #334257;
}
.blue{
    background-color: #476072;
}
.light-blue{
    background-color: #548CA8;
}
.gray{
    background-color: #EEEEEE;
}

/* Font Colours */
.white-text{
    color: white;
}
.navy-text{
    color: #334257;
}
.blue-text{
    color: #476072;
}
.light-blue-text{
    color: #548CA8;
}
.gray-text{
    color: #EEEEEE;
}

/* Navbar */
.x-ter{
    width: 100vw;
    padding-left: 1rem;
}

/* Footer */
footer{
    float: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: small;
}
li.footer{
    float: left; margin-right: 0.5rem;
}

/* Alignment */
.t-center{
    text-align: center;
}
.v-center{
    vertical-align: center;
}

/* Font Size */
.xxx-large{
    font-size: xxx-large;
}

/* Main Style */
main.main{
    font-size: xx-large;
}